# SPDX-License-Identifier: Apache-2.0
# Let only the active seat session read the Fairphone PMIC power key.
SUBSYSTEM=="input", KERNEL=="event*", ATTRS{name}=="pmic_pwrkey", TAG+="uaccess"
