<?xml version="1.0" encoding="UTF-8"?>
<!-- SPDX-License-Identifier: MPL-2.0 -->
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Project Luma</vendor>
  <vendor_url>https://projectluma.org</vendor_url>

  <action id="org.projectluma.background.wake-system">
    <description>Wake the computer from sleep for an alarm</description>
    <message>Authentication is required to wake the computer from sleep</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
</policyconfig>
