[Desktop Entry]
NoDisplay=true
Name=Wine OLE View
Exec=wine oleview.exe
Icon=wine
Terminal=false
Type=Application
StartupNotify=true
Categories=X-Wine;
