[Desktop Entry]
NoDisplay=true
Name=WineMine
Exec=winemine
Icon=winemine
Terminal=false
Type=Application
StartupNotify=true
Categories=Game;LogicGame;
