[Desktop Entry]
NoDisplay=true
Name=Wine Configuration
Exec=winecfg
Icon=winecfg
Terminal=false
Type=Application
StartupNotify=true
Categories=X-Wine;
