# SPDX-License-Identifier: Apache-2.0
[Unit]
Description=Check for Luma system updates
Documentation=https://github.com/ProjectLuma/Luma/blob/stage/docs/os/luma-update.md
Wants=network-online.target
After=network-online.target
ConditionPathExists=/run/ostree-booted

[Service]
Type=oneshot
ExecStart=/usr/bin/luma-update automatic
Nice=10
IOSchedulingClass=idle
TimeoutStartSec=6h
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
RestrictAddressFamilies=AF_UNIX
