<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/software/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Project Luma</vendor>
  <vendor_url>https://project-luma.local/android</vendor_url>
  <action id="org.projectluma.waydroid-package-session">
    <description>Manage the Project Luma Android compatibility session</description>
    <message>Authentication is required to manage Android compatibility</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/luma-waydroid-package-session</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
