[Desktop Entry]
Type=Application
Name=Viola
Comment=Browse the web
Exec=/usr/bin/flatpak run --branch=beta --arch=x86_64 --command=viola-browser --file-forwarding com.rhyme.viola @@u %U @@
Icon=com.rhyme.viola
Terminal=false
StartupNotify=true
Categories=Network;WebBrowser;
MimeType=text/html;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
X-Flatpak=com.rhyme.viola
